html {
      background-image: url("\Images\bg1.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
    }
h1 {
    font-family: 'Press Start 2P', cursive;
  }
