html {
      background-image: url("../Images/bg1.jpg ");
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
    }
h1 {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
  }
img {
      height: 39px;
      width: 44px;
      border: 0px;
    }
#audioContainer {
      text-align: left;
      position: fixed;
      bottom: 0;
    }
